.container-fluid{
  background-color: #ffe4c4;
}

/*nav*/
.site-name{
  font-size: 5vh;
  padding-left: 2%;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

}

.navbar{
  background:	rgba(224,86,26,0.2);
}

.navbar-nav{
  width: 80%;
  margin-right: 10%;
}

.nav-item{
  font-size: 2.5vh;
}

/*店舗情報*/
.shop-info{
  padding-top:5vh;
  height:80vh;
  background-image: url("../images/cafe.jpeg");
  background-position: center right;
  background-size: cover;
  margin-top:3vh;
  background-repeat : no-repeat;
	position:	relative;
}


/*一言メッセージ*/
.shop-title{
  font-size: 4vh;
  margin-top:10vh;
  padding-top:3vh;
  padding-bottom:3vh;
  text-align: center;
  background:	rgba(256,256,256,0.4);
}
.shop-introduction{
  margin-top:5vh;
  height:80vh;
}
.shop-photo{
  background-image: url("../images/images-list/list4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat : no-repeat;
	position:	relative;
}
.shop-text{
  padding-top:10vh;
  text-align:	center;
}

/*メニュー*/
.menu-contents{
  padding-top: 5vh;
  text-align: center;
}
.shop-menu-title{
  font-size: 4vh;
  margin-top:7vh;
  padding-top:3vh;
  padding-bottom:3vh;
  margin-bottom:10vh;
  text-align: center;
  background:	rgba(256,256,256,0.4);
}

.menu-box{
  background-color: white;
  border: 1px solid;
  padding: 15px;
  margin-bottom: 10%
}
.menu-image img{
  padding: 2vh;
  width: 100%;
  height: 50vh;
}

.menu-image:hover{
  opacity: 0.5;
}
/*アクセス*/
.access-contents{
  padding-top: 5vh;

}
.access-title{
  font-size: 4vh;
  margin-top:3vh;
  padding-top:3vh;
  padding-bottom:3vh;
  margin-bottom:10vh;
  text-align: center;
  background:	rgba(256,256,256,0.4);
}


/*フッター*/
footer{
  padding-top: 5vh;
  text-align: center;
}
